  page-songs-list {

    ion-content {
      .currently-playing {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 10px;
        background: map-get($colors, 'secondary');
      }
    }

    .song-holder {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      background: map-get($colors, 'lightwhite');
      padding: 1em;

      &:nth-of-type(even) {
          background: map-get($colors, 'secondary')
      }

      & > ion-col {
        
        & > p {
          color: map-get($colors, 'tertiary');
          font-size: .9em;
          margin: 0;
        }

        & > strong {
          color: map-get($colors, 'tertiary');
          font-size: .9em;
        }
      }

      & > img {
          width: 4em;
          height: 4em;
          margin-right: 1em;
          border-radius: 100%;
      }

      .actions {
        display: flex;

        button {
          background: map-get($colors, 'lightwhite');
          color: map-get($colors, 'tertiary');
          border: 1px solid darken(map-get($colors, 'lightwhite'), 10%);
          box-shadow: 0 5px 30px darken(map-get($colors, 'lightwhite'), 5%);
          border-radius: 3px;
          padding: 1em;
          outline: none;
        }
      }
  }
}
