  page-songs-list {

    .song-holder {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      background: #FFF;
      padding: 1em;

      &:nth-of-type(even) {
          background: lighten(#F7F8FB, 1%);
      }

      & > ion-col {
        
        & > p {
          color: map-get($colors, 'tertiary');
          font-size: .9em;
          margin: 0;
        }

        & > strong {
          color: map-get($colors, 'tertiary');
          font-size: .9em;
        }
      }

      & > img {
          width: 4em;
          height: 4em;
          margin-right: 1em;
          border-radius: 100%;
      }

      .actions {
        display: flex;

        button {
          background: map-get($colors, 'secondary');
          color: #264653;
          border: 1px solid darken(map-get($colors, 'secondary'), 10%);
          box-shadow: 0 5px 30px darken(map-get($colors, 'secondary'), 5%);
          border-radius: 3px;
          padding: 1em;
          outline: none;
        }
      }
  }
}
