$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";
@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";

$colors: (
  primary:    #569BDE,
  primary-gradient: #8E8CE4,
  secondary:  #F7FBFF,
  lightwhite:  #FFF,
  tertiary:   #264653,
  danger:     #F76A6A
);

$toolbar-background: map-get($colors, 'primary');
$tabs-background: map-get($colors, 'primary');

$toolbar-background: map-get($colors, 'lightwhite');

$searchbar-ios-background-color: transparent;
$searchbar-ios-padding-horizontal: 0;

$img-placeholder-background: transparent;